/* Small Header */

.small-header {
  display: flex;
  color: $white;

  .header-row-one {
    background-color: $red;
    display: flex;
    width: 20rem;
    padding: 1rem;
  }

  .header-row-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;
    width: 100%;
    color: $white;
    padding: 0 1rem;
  }
}

@media (max-width: 55.37em) {
  .small-header {
    display: block;

    .header-row-one {
      display: block;
      text-align: center;
      width: auto;
      padding: 0.7rem;
    }

    .header-row-two {
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;
      font-size: 1rem;
      padding: 0;
    }
  }
}

/* Header */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $white;
  padding: 0.5rem 2rem;
  width: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
  font-size: 1.1rem;

  .logo {
    margin-right: auto;
    font-size: 2rem;

    a {
      color: $blue;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    gap: 1rem;

    li {
      list-style: none;

      a {
        color: $blue;
        text-decoration: none;

        @extend %line;
        display: inline-block;
        opacity: 1;
      }

      a:hover {
        // border-bottom: 2px solid $red;
        // color: $red;
      }
    }
  }

  .links {
    .link-border {
      border-bottom: 2px solid $red;
    }

    .down-arrow {
      display: none;
      width: 1.7rem;
    }
  }

  .toggle-button {
    position: absolute;
    top: 6.3rem;
    right: 2rem;
    display: none;
    width: 2rem;
    cursor: pointer;
  }

  .services-menu {
    display: none;
  }

  .desktop-menu-services {
    position: absolute;
    right: 8rem;
    top: 7.7rem;
    background-color: $blue;
    padding: 1rem;
    border-radius: 5px;
    display: none;
    z-index: 1;

    p {
      margin-bottom: 0.7rem;
    }

    a {
      color: white;
      // @extend %line;
      //
      //
      //
      //
      //
      //
      //
    }
  }

  .desktop-menu-services::before {
    content: '';
    border-style: solid;
    border-width: 1.4rem 2.5rem;
    border-color: transparent;
    position: absolute;
    top: -35px;
    right: 4.5rem;
  }

  .desktop-menu-services::after {
    content: '\A';
    border-style: solid;
    border-width: 15px 28.5px 17px 20px;
    border-color: transparent #081336 transparent transparent;
    position: absolute;
    top: -10px;
    right: 6rem;
    transform: rotate(-31deg);
  }
}

@media (max-width: 55.37em) {
  .header {
    flex-direction: column;

    .links.active {
      display: flex;
    }

    .links {
      display: none;

      ul {
        width: 17rem;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll;

        li {
          margin-bottom: 2rem;
          color: #081336;
          opacity: 1;
          font-size: 1.3rem;
        }
      }

      .down-arrow {
        display: inline-block;
        position: absolute;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }

    .toggle-button {
      display: flex;
    }

    .services-menu {
      margin-left: 0.5rem;
      font-size: 1.05rem;
      font-weight: 500;
      margin-bottom: 0.5rem !important;
    }

    .show {
      display: block;
    }

    .desktop-menu-services {
      opacity: 0;

      a {
        display: none;
      }
    }

    .desktop-menu-services::after {
      display: none;
    }

    .desktop-menu-services::before {
      display: none;
    }
  }
}

.background {
  background-color: rgba(0, 0, 0, 0.541);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 2;
}

/* Services drop down menu */

.services-menu li {
  display: none;
}
