* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn--active {
  @extend %a;
}

/* Small Header */

.small-header {
  display: flex;
  color: $white;

  .header-row-one {
    background-color: $red;
    display: flex;
    width: 20rem;
    padding: 1rem;
  }

  .header-row-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;
    width: 100%;
    color: $white;
    padding: 0 1rem;
  }
}

@media (max-width: 55.37em) {
  .small-header {
    display: block;

    .header-row-one {
      display: block;
      text-align: center;
      width: auto;
      padding: 0.7rem;
    }

    .header-row-two {
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;
      font-size: 1rem;
      padding: 0;
    }
  }
}

/* Header */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $white;
  padding: 0.5rem 2rem;
  width: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
  font-size: 1.1rem;

  .logo {
    margin-right: auto;
    font-size: 2rem;

    a {
      color: $blue;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    gap: 1rem;

    li {
      list-style: none;

      a {
        color: $blue;
        text-decoration: none;
      }

      a:hover {
        border-bottom: 2px solid $red;
        color: $red;
      }
    }
  }

  .links {
    .link-border {
      border-bottom: 2px solid $red;
    }

    .down-arrow {
      display: none;
      width: 1.7rem;
    }
  }

  .toggle-button {
    position: absolute;
    top: 6.3rem;
    right: 2rem;
    display: none;
    width: 2rem;
    cursor: pointer;
  }

  .services-menu {
    display: none;
  }

  .desktop-menu-services {
    position: absolute;
    right: 8rem;
    top: 7.7rem;
    background-color: $blue;
    padding: 1rem;
    border-radius: 5px;
    display: none;
    z-index: 1;

    p {
      margin-bottom: 0.7rem;
    }

    a {
      color: white;
    }
  }

  .desktop-menu-services::before {
    content: '';
    border-style: solid;
    border-width: 1.4rem 2.5rem;
    border-color: transparent;
    position: absolute;
    top: -35px;
    right: 4.5rem;
  }

  .desktop-menu-services::after {
    content: '\A';
    border-style: solid;
    border-width: 15px 28.5px 17px 20px;
    border-color: transparent #081336 transparent transparent;
    position: absolute;
    top: -10px;
    right: 6rem;
    transform: rotate(-31deg);
  }
}

@media (max-width: 55.37em) {
  .header {
    flex-direction: column;

    .links.active {
      display: flex;
    }

    .links {
      display: none;

      ul {
        width: 17rem;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll;

        li {
          margin-bottom: 2rem;
          color: #081336;
          opacity: 1;
          font-size: 1.3rem;
        }
      }

      .down-arrow {
        display: inline-block;
        position: absolute;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }

    .toggle-button {
      display: flex;
    }

    .services-menu {
      margin-left: 0.5rem;
      font-size: 1.05rem;
      font-weight: 500;
      margin-bottom: 0.5rem !important;
    }

    .show {
      display: block;
    }

    .desktop-menu-services {
      opacity: 0;

      a {
        display: none;
      }
    }

    .desktop-menu-services::after {
      display: none;
    }

    .desktop-menu-services::before {
      display: none;
    }
  }
}

.background {
  background-color: rgba(0, 0, 0, 0.541);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 2;
}

/* Main Page */

.main-page {
  background: url('../../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
}

.main-page img {
  height: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.main-page-title {
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

.main-page-text {
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.3rem;
  padding-bottom: 5rem;
  line-height: 1.4;

  p {
    margin-bottom: 3rem;
  }
}

@media (max-width: 31.25em) {
  .main-page-title {
    font-size: 1.38rem;
    font-weight: 400;
  }
}

/* Choose Us */

.choose-us {
  padding: 3rem 0;
  color: #081336;
}

.choose-us-title {
  text-align: center;
  padding-bottom: 2rem;
}

.choose-us-title h2 {
  font-size: 2.3rem;
  font-weight: 300;
}

.underline::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.17rem;
  background-color: #f90716;
  margin: 1.4rem auto;
}

.choose-us-title p {
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.6;
}

/* Choose Us Icons */

.choose-us-reasons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 3rem;
}

.reason img {
  max-width: 5rem;
}

.reason h3 {
  padding-top: 0.9rem;
}

.reason h3::after {
  content: '';
  display: block;
  width: 3rem;
  height: 0.17rem;
  background-color: #f90716;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}

.reason p {
  opacity: 0.7;
  width: 20rem;
}

@media (max-width: 73.75em) {
  .choose-us-reasons {
    justify-content: center;
    gap: 5rem;
  }

  .reason p {
    width: 15rem;
  }
}

@media (max-width: 55.37em) {
  .choose-us-reasons {
    flex-direction: column;
  }

  .reason {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reason p {
    width: 20rem;
  }
}

/* Experience */

.experience {
  display: flex;
  justify-content: center;
  background-color: #081336;
  gap: 5rem;
  padding: 3rem 0;
}

.experience img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.experience-text {
  max-width: 30rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.534);
  border-radius: 5px;
}

.experience-text h2 {
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
}

.experience-text h2::after {
  content: '';
  display: block;
  background-color: #f90716;
  height: 0.17rem;
  width: 4rem;
  margin: 0.7rem 0;
}

.experience-text p {
  margin-bottom: 2rem;
  color: white;
  opacity: 0.8;
}

.experience-text a {
  font-size: 1.2rem;
}

.experience-text a::after {
  top: 2px;
}

@media (max-width: 72em) {
  .experience {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .experience-text {
    box-shadow: none;
    margin: 0 auto;
    text-align: center;
  }

  .experience p {
    max-width: 30rem;
    text-align: start;
  }

  .experience-text h2::after {
    margin: 1rem auto;
  }

  .experience img {
    width: 30rem;
    margin: 0 auto;
  }
}

/* Car Services Cards */

.services {
  background: url('../../images/pattern.png'), rgb(231, 230, 230);
  color: #081336;
  padding: 5rem;
  background-size: cover;
}

.services h2 {
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 5rem;
}

.services h2::after {
  content: '';
  display: block;
  width: 7rem;
  height: 0.2rem;
  background-color: #f90716;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.car-service {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  gap: 3rem;
  justify-content: center;
}

.card {
  background-color: white;
  border-bottom: 2px solid #f90716;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  box-shadow: 0 0 1px rgb(70, 69, 69);
}

.card img {
  width: 4rem;
  opacity: 0.9;
}

.card h4 {
  padding-top: 1rem;
}

.card a {
  padding-bottom: 1rem;
  color: #f90716;
  text-decoration: none;
  font-weight: 400;
}

@media (max-width: 72em) {
  .car-service {
    grid-template-columns: 20rem 20rem;
  }
}

@media (max-width: 55.37em) {
  .car-service {
    grid-template-columns: 20rem;
  }
}

/* Car List */

.car-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  height: 30rem;
  color: #081336;
}

.car-brand img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.title-car-list {
  text-align: center;
  width: 26rem;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title-car-list h2 {
  word-spacing: 0.9rem;
  letter-spacing: 0.15rem;
}

.title-car-list h2::after {
  content: '';
  width: 5rem;
  height: 0.2rem;
  margin: 0.7rem auto;
  background-color: #f90716;
  display: block;
}

.title-car-list p {
  opacity: 0.8;
  margin-top: 1rem;
}

.car-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: start;
  margin-top: 2rem;
}

.car-list p {
  margin: 0.3rem 0;
  opacity: 1;
  width: 100%;
}

.fa-check {
  font-size: 0.8rem;
  color: #f90716;
  margin-right: 0.15rem;
}

@media (max-width: 72em) {
  .car-brand {
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
  }

  .title-car-list {
    width: auto;
    padding: 0;
  }

  .car-list p {
    font-size: 0.9rem;
    width: 100%;
  }
  .fa-check {
    font-size: 0.7rem;
  }
}

/* Testimonial  */

.testimonial-title {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2.5rem;
}

.testimonial-title::after {
  content: '';
  display: block;
  margin: 0 auto;
  background-color: #f90716;
  width: 9rem;
  height: 0.15rem;
  margin-top: 0.5rem;
}

.review {
  display: none;
}

.review-visible {
  display: block;
  animation: fadeVisibily 500ms;
}

.image {
  display: none;
}

.image-visible {
  display: block;
}

.image img {
  width: 23rem;
  height: 23rem;
  opacity: 0.8;
  object-fit: cover;
}

/* Left side testimonial */

.review-images-title {
  background: url('images/bg-3.png');
  background-color: #081336;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.review-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 63rem;
  margin: 0 auto;
}

/* Text testimonial */
.experience-testimonial {
  font-size: 1.2rem;
  color: white;
  max-width: 26rem;
  opacity: 0.8;
}

/* Name and ocupation */

.name-field {
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Navigation buttons */

.nav-btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

.next-button,
.prev-button {
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-button-icon,
.next-button-icon {
  height: 1rem;
}

.quotes {
  position: absolute;
  right: 52rem;
  width: 3rem;
}

@keyframes fadeVisibily {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@media (max-width: 63.12em) {
  .review-images {
    flex-direction: column-reverse;
    max-width: 26rem;
  }

  .experience-testimonial {
    text-align: center;
  }

  .name-field {
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 0.9rem;
    text-align: center;
  }

  .name-field h5,
  p {
    margin: 0;
    padding: 0;
  }

  .image img {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    opacity: 1;
  }

  .nav-btns {
    bottom: 3rem;
    width: 100%;
  }

  .quotes {
    display: block;
    position: absolute;
    width: 3rem;
    top: 21rem;
    left: 11rem;
  }
}

@media (max-width: 26.56em) {
  .review-images {
    max-width: 20rem;
  }

  .quotes {
    left: 8.5rem;
  }

  .next-button,
  .prev-button {
    border-radius: 0%;
    background-color: #081336;
  }
}

/* Appointment */

.appointment {
  background-color: #f90716;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 55rem;
  margin: 5rem auto;
}

.appointment-title h2 {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}

.appointment-title p {
  opacity: 0.8;
  font-size: 0.9rem;
}

.appointment a {
  color: $red;
  background-color: $white;
  font-size: 1.2rem;
}
.appointment a::after {
  top: 2px;
}

.number-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 61.25em) {
  .appointment {
    flex-direction: column;
    text-align: center;
    max-width: 35rem;
    padding-bottom: 0;
  }

  .number-button {
    margin: 2rem;
  }
}

@media (max-width: 41.25em) {
  .appointment {
    max-width: fit-content;
  }

  .number-button {
    flex-direction: column;
    gap: 0.8rem;
  }
}

/* Footer */

footer {
  background-color: #081336;
  color: white;
}

footer h3 {
  margin-bottom: 1rem;
  text-align: center;
}

footer h3::after {
  content: '';
  display: block;
  background-color: #f90716;
  width: 3.5rem;
  height: 0.12rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

footer p {
  opacity: 0.8;
  margin-bottom: 0.3rem;
}

footer a {
  color: white;
  text-decoration: none;
}

/* Footer Contact */

.footer-contact {
  border-bottom: 1px solid rgba(255, 255, 255, 0.219);
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  border: 1px solid rgba(255, 255, 255, 0.219);
  border-bottom: none;
  border-top: none;
}

.footer-contact img {
  width: 2.5rem;
}

.contact p {
  opacity: 1;
  font-size: 1.2rem;
}

.location {
  border-left: none;
}

.phone {
  border-right: none;
}

@media (max-width: 71.56em) {
  .footer-contact {
    flex-wrap: wrap;
  }

  .contact {
    padding: 0;
    width: 20rem;
    border: 1px solid rgba(255, 255, 255, 0.219);
    padding: 2rem;
  }

  .phone {
    border-bottom: none;
    border-left: none;
    border-right: none;

    justify-content: center;
  }

  .location {
    border-left: none;
    border-bottom: none;
  }

  .mail {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}

@media (max-width: 48.18em) {
  .contact {
    border-left: none;
    border-right: none;
  }

  .phone {
    justify-content: start;
  }

  .email {
    border-top: none;
  }
}

/* Footer Navigation */

.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

// Underline animation

.footer-nav a {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  display: block;
  opacity: 0.8;
  width: fit-content;
  margin: 0.3rem auto;
}

.footer-nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: $red;
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}

.footer-nav a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.footer-nav a:hover::after,
.footer-nav a:focus::after {
  transform: translate3d(0, 0, 0);
}

/* Footer Logo  */

.logo-text {
  width: 10rem;
}

/* Footer Social */

.footer-social a {
  padding: 0.5rem;
  color: white;
  margin: 1rem;
  border: 1.5px solid white;
  border-radius: 50%;
  display: inline;

  &::after {
    display: none;
  }
}

.footer-social a:hover {
  border: 1.5px solid #f90716;
}

.footer-social .fa {
  font-size: 1.1rem;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 61.25em) {
  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

@media (max-width: 37.5em) {
  .footer-nav {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 3rem;
  }
}

/* Footer Copyright */

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.219);
  margin: 0 5rem;
  padding: 1.5rem 0;
}

@media (max-width: 43em) {
  .footer-copyright {
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Services drop down menu */

.services-menu li {
  display: none;
}

/* Go up button */

.page-up-btn {
  position: fixed;
  border-radius: 50%;
  background-color: #f90716;
  border: 1px solid #081336;
  height: 3rem;
  width: 3rem;
  right: 5rem;
  bottom: 5.5rem;
  z-index: 5;
}

.page-up-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.page-up-btn a img {
  width: 2rem;
}

@media (max-width: 75em) {
  .page-up-btn {
    right: 2rem;
    bottom: 3rem;
  }
}
